# this is the most important variable!
# when you do `from transparency import settings`,
# the file settings.__init__.py will use the environment variable
# TRANSPARENCY_SETTINGS_MODULE to decide which settings to load.
# Consequently if you use
# "TRANSPARENCY_SETTINGS_MODULE = transparency.settings.dev"
# you need to have a file transparency/settings/dev.py that
# contains the public settings for this configuration.

# TRANSPARENCY_SETTINGS_MODULE = transparency.settings.dev

# The rest of the file should contain settings that are PRIVATE as this file is
# not committed to the repository

# Database info
DATABASE_PASSWORD=xxxx
